<!DOCTYPE html>
{% extends 'main/main.html' %}
{% block base-title %}My messages{% endblock %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>My messages</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="alert alert-info" role="alert">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            <h6>{{ message.user.username }}</h6>
                            <p>{{ message.text }}</p>
                            <p><i>{{ message.date_creation }}</i></p>
                            <form method="post" action="{% url 'delete' message.id %}">
                                {% csrf_token %}
                                <div class="col-lg-3 d-flex flex-column justify-content-between">
                                    <button type="submit" id="{{ message }}" name="{{ message }}" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>You don't have any messages</p>
                    <a role="button" class="btn btn-primary btn-lg" href="{% url 'xChannel' %}">xChannel</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}