<!DOCTYPE html>
{% extends 'main/main.html' %}
{% block base-title %}Account{% endblock %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Account</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="text-center">
                <div class="alert alert-info" role="alert">
                    <div class="row justify-content-center">
                        <form method="post" action="{% url 'delete_all' %}">
                            {% csrf_token %}
                            <button type="submit"  class="btn btn-danger">Delete all messages </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}